# python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# env/ide
.venv/
venv/
.env
.vscode/
.DS_Store

# git
.git/

# project heavy artifacts (never bake)
data/
outputs/
reports/
notebooks/

# temp
data/interim/duckdb_tmp/
*.csv
*.zip
*.tar
*.gz
